/*
	
	
	Stylesheet for Offsite
	
	
*/
@import url(fonts.css);
@import url(foundation.min.css);
.test-form {
  padding-top: 50vh;
  margin-left: 20vw; }

@media (max-width: 1024px) {
  html {
    font-size: 80%; } }

@media (max-width: 640px) {
  html {
    font-size: 75%; } }

/*
	
	Variables
	
*/
/*
	
	Utlities
	
*/
.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px; }

@media (min-width: 0px) {
  .small-text-center {
    text-align: center; }
  .small-text-left {
    text-align: left; }
  .small-text-right {
    text-align: right; } }

@media (min-width: 640px) {
  .med-text-center {
    text-align: center; }
  .med-text-left {
    text-align: left; }
  .med-text-right {
    text-align: right; } }

@media (min-width: 1024px) {
  .lg-text-center {
    text-align: center; }
  .lg-text-left {
    text-align: left; }
  .lg-text-right {
    text-align: right; } }

@media (min-width: 0px) {
  .small-align-center {
    -ms-flex-pack: center;
    justify-content: center; } }

@media (min-width: 1024px) {
  .lg-align-justify {
    -ms-flex-pack: justify;
    justify-content: space-between; } }

/*
	
	Typography
	
	--
	Header One - Top level header for banners and big sections.
	
	--
	Header Two - Header for less smaller sections.
	
	--
	Header Three - Header for smaller paragraphs and subheader underneath header two

	
*/
h1, h2, h3, h4, p, a, .button,
input[type="submit"], .link, input[type="text"]:-ms-input-placeholder, textarea, label.radio, ul, #calendar .fc-day-number,
#day .fc-day-number, #calendar .fc-title,
#day .fc-title, #day .fc-list-item-time {
  color: #464447; }
h1, h2, h3, h4, p, a, .button,
input[type="submit"], .link, input[type="text"]::placeholder, textarea, label.radio, ul, #calendar .fc-day-number,
#day .fc-day-number, #calendar .fc-title,
#day .fc-title, #day .fc-list-item-time {
  color: #464447; }
  h1.black, h2.black, h3.black, h4.black, p.black, a.black, .black.button,
  input.black[type="submit"], .black.link, input.black[type="text"]:-ms-input-placeholder, textarea.black, label.black.radio, ul.black, #calendar .black.fc-day-number,
  #day .black.fc-day-number, #calendar .black.fc-title,
  #day .black.fc-title, #day .black.fc-list-item-time {
    color: #000; }
  h1.black, h2.black, h3.black, h4.black, p.black, a.black, .black.button,
  input.black[type="submit"], .black.link, input.black[type="text"]::placeholder, textarea.black, label.black.radio, ul.black, #calendar .black.fc-day-number,
  #day .black.fc-day-number, #calendar .black.fc-title,
  #day .black.fc-title, #day .black.fc-list-item-time {
    color: #000; }
  h1 .black, h2 .black, h3 .black, h4 .black, p .black, a .black, .button .black,
  input[type="submit"] .black, .link .black, input[type="text"]:-ms-input-placeholder .black, textarea .black, label.radio .black, ul .black, #calendar .fc-day-number .black,
  #day .fc-day-number .black, #calendar .fc-title .black,
  #day .fc-title .black, #day .fc-list-item-time .black {
    color: #000; }
  h1 .black, h2 .black, h3 .black, h4 .black, p .black, a .black, .button .black,
  input[type="submit"] .black, .link .black, input[type="text"]::placeholder .black, textarea .black, label.radio .black, ul .black, #calendar .fc-day-number .black,
  #day .fc-day-number .black, #calendar .fc-title .black,
  #day .fc-title .black, #day .fc-list-item-time .black {
    color: #000; }
  h1.white, h2.white, h3.white, h4.white, p.white, a.white, .white.button,
  input.white[type="submit"], .white.link, input.white[type="text"]:-ms-input-placeholder, textarea.white, label.white.radio, ul.white, #calendar .white.fc-day-number,
  #day .white.fc-day-number, #calendar .white.fc-title,
  #day .white.fc-title, #day .white.fc-list-item-time {
    color: #f2f2f2; }
  h1.white, h2.white, h3.white, h4.white, p.white, a.white, .white.button,
  input.white[type="submit"], .white.link, input.white[type="text"]::placeholder, textarea.white, label.white.radio, ul.white, #calendar .white.fc-day-number,
  #day .white.fc-day-number, #calendar .white.fc-title,
  #day .white.fc-title, #day .white.fc-list-item-time {
    color: #f2f2f2; }
  h1 .white, h2 .white, h3 .white, h4 .white, p .white, a .white, .button .white,
  input[type="submit"] .white, .link .white, input[type="text"]:-ms-input-placeholder .white, textarea .white, label.radio .white, ul .white, #calendar .fc-day-number .white,
  #day .fc-day-number .white, #calendar .fc-title .white,
  #day .fc-title .white, #day .fc-list-item-time .white {
    color: #f2f2f2; }
  h1 .white, h2 .white, h3 .white, h4 .white, p .white, a .white, .button .white,
  input[type="submit"] .white, .link .white, input[type="text"]::placeholder .white, textarea .white, label.radio .white, ul .white, #calendar .fc-day-number .white,
  #day .fc-day-number .white, #calendar .fc-title .white,
  #day .fc-title .white, #day .fc-list-item-time .white {
    color: #f2f2f2; }
  h1.book, h2.book, h3.book, h4.book, p.book, a.book, .book.button,
  input.book[type="submit"], .book.link, input.book[type="text"]:-ms-input-placeholder, textarea.book, label.book.radio, ul.book, #calendar .book.fc-day-number,
  #day .book.fc-day-number, #calendar .book.fc-title,
  #day .book.fc-title, #day .book.fc-list-item-time {
    font-weight: 400; }
  h1.book, h2.book, h3.book, h4.book, p.book, a.book, .book.button,
  input.book[type="submit"], .book.link, input.book[type="text"]::placeholder, textarea.book, label.book.radio, ul.book, #calendar .book.fc-day-number,
  #day .book.fc-day-number, #calendar .book.fc-title,
  #day .book.fc-title, #day .book.fc-list-item-time {
    font-weight: 400; }
  h1 .book, h2 .book, h3 .book, h4 .book, p .book, a .book, .button .book,
  input[type="submit"] .book, .link .book, input[type="text"]:-ms-input-placeholder .book, textarea .book, label.radio .book, ul .book, #calendar .fc-day-number .book,
  #day .fc-day-number .book, #calendar .fc-title .book,
  #day .fc-title .book, #day .fc-list-item-time .book {
    font-weight: 400; }
  h1 .book, h2 .book, h3 .book, h4 .book, p .book, a .book, .button .book,
  input[type="submit"] .book, .link .book, input[type="text"]::placeholder .book, textarea .book, label.radio .book, ul .book, #calendar .fc-day-number .book,
  #day .fc-day-number .book, #calendar .fc-title .book,
  #day .fc-title .book, #day .fc-list-item-time .book {
    font-weight: 400; }
  h1.bold, h2.bold, h3.bold, h4.bold, p.bold, a.bold, .bold.button,
  input.bold[type="submit"], .bold.link, input.bold[type="text"]:-ms-input-placeholder, textarea.bold, label.bold.radio, ul.bold, #calendar .bold.fc-day-number,
  #day .bold.fc-day-number, #calendar .bold.fc-title,
  #day .bold.fc-title, #day .bold.fc-list-item-time {
    font-weight: 700; }
  h1.bold, h2.bold, h3.bold, h4.bold, p.bold, a.bold, .bold.button,
  input.bold[type="submit"], .bold.link, input.bold[type="text"]::placeholder, textarea.bold, label.bold.radio, ul.bold, #calendar .bold.fc-day-number,
  #day .bold.fc-day-number, #calendar .bold.fc-title,
  #day .bold.fc-title, #day .bold.fc-list-item-time {
    font-weight: 700; }
  h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, p.uppercase, a.uppercase, .uppercase.button,
  input.uppercase[type="submit"], .uppercase.link, input.uppercase[type="text"]:-ms-input-placeholder, textarea.uppercase, label.uppercase.radio, ul.uppercase, #calendar .uppercase.fc-day-number,
  #day .uppercase.fc-day-number, #calendar .uppercase.fc-title,
  #day .uppercase.fc-title, #day .uppercase.fc-list-item-time {
    text-transform: uppercase; }
  h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, p.uppercase, a.uppercase, .uppercase.button,
  input.uppercase[type="submit"], .uppercase.link, input.uppercase[type="text"]::placeholder, textarea.uppercase, label.uppercase.radio, ul.uppercase, #calendar .uppercase.fc-day-number,
  #day .uppercase.fc-day-number, #calendar .uppercase.fc-title,
  #day .uppercase.fc-title, #day .uppercase.fc-list-item-time {
    text-transform: uppercase; }

.bold {
  font-weight: 700; }

h1 {
  font-family: "proxima-nova", 'Garamond', serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.12em;
  letter-spacing: .284em;
  text-transform: uppercase; }
  h1.white {
    color: #fff; }

h2 {
  font-family: "gotham", 'Helvetica', 'Verdana', 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: .137em;
  text-transform: uppercase; }
  h2.book {
    font-weight: 400; }

h3 {
  font-family: "gotham", 'Helvetica', 'Verdana', 'Arial', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: .137em;
  text-transform: uppercase; }
  h3.book {
    font-weight: 400; }
  h3.off-white {
    color: #f2f2f2; }

h4 {
  font-family: "gotham", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: .136em;
  text-transform: uppercase; }

p, a, .button,
input[type="submit"], .link, input[type="text"]:-ms-input-placeholder, textarea, label.radio, ul, #calendar .fc-day-number,
#day .fc-day-number, #calendar .fc-title,
#day .fc-title, #day .fc-list-item-time {
  font-family: "gotham", serif;
  font-size: .87rem;
  font-weight: 400;
  line-height: 2.2em;
  letter-spacing: .137em; }

p, a, .button,
input[type="submit"], .link, input[type="text"]::placeholder, textarea, label.radio, ul, #calendar .fc-day-number,
#day .fc-day-number, #calendar .fc-title,
#day .fc-title, #day .fc-list-item-time {
  font-family: "gotham", serif;
  font-size: .87rem;
  font-weight: 400;
  line-height: 2.2em;
  letter-spacing: .137em; }

.lowercase {
  text-transform: none; }

/*
	
	Interactive
	
	--
	Button - Use as a class on a tags, filled in
	
	--
	Link - Use as a class on a tags or submissions on forms, underlined
	
	--
	Input[type='radio'] - This is a radio tag, must be set up like this:
	
	<input type="radio" id="id-example" name="name-example" />
	<label for="id-example" class="radio">Lorem Ipsum</label>
	
*/
a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500; }
  a:hover {
    color: #fdfdfd; }

.button,
input[type="submit"] {
  position: relative;
  padding: 10px 25px;
  background: #464447;
  color: #fff;
  border: 1px solid transparent;
  transition: all .2s ease-out;
  transform: translateY(0px);
  outline: none;
  text-transform: uppercase; }
  .button:hover,
  input[type="submit"]:hover {
    background: #5b575d;
    color: #fff; }
  .button:focus,
  input[type="submit"]:focus {
    color: #fff;
    outline: none; }
  .button:active,
  input[type="submit"]:active {
    transform: translateY(10px); }
  .button.brown,
  input[type="submit"].brown {
    background: #b59b8f; }
  .button.white,
  input[type="submit"].white {
    background: #f2f2f2;
    color: #464447; }

.link {
  position: relative;
  color: #464447;
  background: transparent;
  padding: 12px 3px;
  text-transform: uppercase;
  transition: all .2s ease-out; }
  .link:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #464447;
    transition: all .2s ease-out; }
  .link:hover {
    color: #5b575d; }
    .link:hover:after {
      background: #5b575d;
      bottom: -4px; }

input[type],
textarea {
  border-radius: 0px;
  box-shadow: none;
  border: none;
  outline: none; }
  input[type]:hover,
  textarea:hover {
    box-shadow: none;
    outline: none; }
  input[type]:focus,
  textarea:focus {
    box-shadow: none;
    outline: none; }

input[type="text"] {
  padding-left: 15px; }
  input[type="text"]:-ms-input-placeholder {
    text-transform: uppercase; }
  input[type="text"]::placeholder {
    text-transform: uppercase; }

textarea {
  border: 1px solid #464447;
  text-transform: uppercase;
  padding-left: 15px; }

label.radio {
  border: 1px solid #464447;
  background: transparent;
  color: #464447;
  padding: 15px 25px;
  text-transform: uppercase;
  line-height: 1em;
  transition: all .2s ease-out; }
  label.radio:hover {
    background: #eee; }
  input[type="radio"]:checked + label.radio {
    background: #b59b8f;
    border: 1px solid #b59b8f;
    color: #fff; }

input[type="radio"] {
  display: none; }

/*
	
	General
	
*/
.lines-before-after {
  position: relative; }
  .lines-before-after:after, .lines-before-after:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 200px;
    background: #b59b8f; }
  .lines-before-after:before {
    left: auto;
    right: 0; }

@media (max-width: 640px) {
  .lines-before-after:before, .lines-before-after:after {
    display: none; } }

.grid-container {
  max-width: 90rem;
  padding-right: 5vw;
  padding-left: 5vw;
  margin: 0 auto; }

section, .banner {
  padding: 100px 0px; }
  section.grey, .grey.banner {
    background: #464447; }
  section.off-white, .off-white.banner {
    background: #f2f2f2; }
  section.brown, .brown.banner {
    background: #b59b8f; }
  section.beige, .beige.banner {
    background: #ecece4; }

@media (max-width: 640px) {
  section, .banner {
    padding: 60px 0px; } }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li:before {
    content: "-";
    padding-right: 12px; }

header {
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 400; }
  header .header-content {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent; }
  header .logo {
    max-width: 200px; }
    header .logo img {
      width: 100%; }
  header nav a {
    margin-left: 80px; }
  header.white nav a {
    color: #464447; }
  header.white nav .button {
    color: #fff; }
  header .hamburger {
    width: 30px;
    display: inline-block;
    cursor: pointer; }

menu {
  background: #464447;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 15px;
  transform: translateY(-100%);
  transition: all .3s ease-out; }
  menu .grid-x {
    height: 100%; }
  menu.is-open {
    transform: translateY(0%); }
  menu .links {
    margin-bottom: 20px; }

@media (max-width: 640px) {
  header {
    padding: 10px; }
    header .grid-container {
      padding: 0px; } }

footer {
  background: #464447;
  padding: 30px; }
  footer .logo {
    width: 200px;
    margin-bottom: 20px; }
  footer .greyed-out {
    color: #666;
    font-weight: 400; }
  footer .padded {
    margin-bottom: 20px; }

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .banner .banner-content {
    padding-top: 20%;
    padding-bottom: 8vh;
    padding-left: 0px;
    width: 40vw;
    max-width: 850px;
    text-align: left; }
    .banner .banner-content h1 {
      margin-bottom: 40px; }
  .banner.inner .banner-content {
    padding-top: 20%; }

@media (max-width: 1024px) {
  .banner .banner-content {
    width: 60vw; } }

@media (max-width: 640px) {
  .banner .banner-content {
    width: 90vw; } }

/*
	
	Pages
	
*/
.homepage-options img {
  width: 70px; }

.homepage-options .headline {
  padding-bottom: 50px; }

.homepage-options .item {
  padding: 40px 30px;
  border: 1px solid #000; }
  .homepage-options .item h2 {
    padding-top: 30px;
    padding-bottom: 10px; }

#map {
  height: 450px; }

.homepage-info h2 {
  padding-bottom: 30px; }

.homepage-map h1 {
  padding-bottom: 30px; }

.homepage-map img {
  max-width: 900px;
  display: inline-block; }

.homepage-whats-included p, .homepage-whats-included a, .homepage-whats-included .button, .homepage-whats-included
input[type="submit"], .homepage-whats-included .link, .homepage-whats-included input[type="text"]:-ms-input-placeholder, .homepage-whats-included textarea, .homepage-whats-included label.radio, .homepage-whats-included ul, .homepage-whats-included #calendar .fc-day-number, #calendar .homepage-whats-included .fc-day-number, .homepage-whats-included
#day .fc-day-number,
#day .homepage-whats-included .fc-day-number, .homepage-whats-included #calendar .fc-title, #calendar .homepage-whats-included .fc-title, .homepage-whats-included
#day .fc-title,
#day .homepage-whats-included .fc-title, .homepage-whats-included #day .fc-list-item-time, #day .homepage-whats-included .fc-list-item-time {
  padding: 20px 0px; }

.homepage-whats-included p, .homepage-whats-included a, .homepage-whats-included .button, .homepage-whats-included
input[type="submit"], .homepage-whats-included .link, .homepage-whats-included input[type="text"]::placeholder, .homepage-whats-included textarea, .homepage-whats-included label.radio, .homepage-whats-included ul, .homepage-whats-included #calendar .fc-day-number, #calendar .homepage-whats-included .fc-day-number, .homepage-whats-included
#day .fc-day-number,
#day .homepage-whats-included .fc-day-number, .homepage-whats-included #calendar .fc-title, #calendar .homepage-whats-included .fc-title, .homepage-whats-included
#day .fc-title,
#day .homepage-whats-included .fc-title, .homepage-whats-included #day .fc-list-item-time, #day .homepage-whats-included .fc-list-item-time {
  padding: 20px 0px; }

@media (max-width: 640px) {
  .homepage-info .bg-image {
    margin-bottom: 40px; } }

.whats-included-features .header {
  margin-bottom: 70px; }

.whats-included-features .items .cell {
  margin-right: 50px;
  margin-bottom: 20px; }

.whats-included-questions p, .whats-included-questions a, .whats-included-questions .button, .whats-included-questions
input[type="submit"], .whats-included-questions .link, .whats-included-questions input[type="text"]:-ms-input-placeholder, .whats-included-questions textarea, .whats-included-questions label.radio, .whats-included-questions ul, .whats-included-questions #calendar .fc-day-number, #calendar .whats-included-questions .fc-day-number, .whats-included-questions
#day .fc-day-number,
#day .whats-included-questions .fc-day-number, .whats-included-questions #calendar .fc-title, #calendar .whats-included-questions .fc-title, .whats-included-questions
#day .fc-title,
#day .whats-included-questions .fc-title, .whats-included-questions #day .fc-list-item-time, #day .whats-included-questions .fc-list-item-time {
  margin-top: 20px; }

.whats-included-questions p, .whats-included-questions a, .whats-included-questions .button, .whats-included-questions
input[type="submit"], .whats-included-questions .link, .whats-included-questions input[type="text"]::placeholder, .whats-included-questions textarea, .whats-included-questions label.radio, .whats-included-questions ul, .whats-included-questions #calendar .fc-day-number, #calendar .whats-included-questions .fc-day-number, .whats-included-questions
#day .fc-day-number,
#day .whats-included-questions .fc-day-number, .whats-included-questions #calendar .fc-title, #calendar .whats-included-questions .fc-title, .whats-included-questions
#day .fc-title,
#day .whats-included-questions .fc-title, .whats-included-questions #day .fc-list-item-time, #day .whats-included-questions .fc-list-item-time {
  margin-top: 20px; }

.banner.faq .banner-content {
  margin: 0 auto; }

.faqs h1 {
  margin-bottom: 70px; }

.dropdown .dropdown-header {
  margin-bottom: 20px; }
  .dropdown .dropdown-header .arrow {
    transform: rotate(-90deg);
    transition: all .2s ease-out; }

.dropdown .dropdown-content {
  max-height: 0px;
  overflow: hidden;
  transition: height .2s ease-out; }

.dropdown.is-open .dropdown-header .arrow {
  transform: rotate(0deg); }

.dropdown.is-open .dropdown-content {
  max-height: 10000px; }

.topics .category p, .topics .category a, .topics .category .button, .topics .category
input[type="submit"], .topics .category .link, .topics .category input[type="text"]:-ms-input-placeholder, .topics .category textarea, .topics .category label.radio, .topics .category ul, .topics .category #calendar .fc-day-number, #calendar .topics .category .fc-day-number, .topics .category
#day .fc-day-number,
#day .topics .category .fc-day-number, .topics .category #calendar .fc-title, #calendar .topics .category .fc-title, .topics .category
#day .fc-title,
#day .topics .category .fc-title, .topics .category #day .fc-list-item-time, #day .topics .category .fc-list-item-time {
  margin-bottom: 0px; }

.topics .category p, .topics .category a, .topics .category .button, .topics .category
input[type="submit"], .topics .category .link, .topics .category input[type="text"]::placeholder, .topics .category textarea, .topics .category label.radio, .topics .category ul, .topics .category #calendar .fc-day-number, #calendar .topics .category .fc-day-number, .topics .category
#day .fc-day-number,
#day .topics .category .fc-day-number, .topics .category #calendar .fc-title, #calendar .topics .category .fc-title, .topics .category
#day .fc-title,
#day .topics .category .fc-title, .topics .category #day .fc-list-item-time, #day .topics .category .fc-list-item-time {
  margin-bottom: 0px; }

.contact {
  min-height: 100vh;
  padding-top: 15%; }
  .contact input {
    border: 1px solid #464447; }
  .contact h1 {
    margin-bottom: 70px; }

.contact-info h3 {
  margin-top: 20px; }

@media (max-width: 640px) {
  .contact-info {
    margin-top: 50px; } }

.booking-container {
  min-height: calc(100vh - 155px); }

.booking-header {
  margin-top: 70px; }

.booking-nav {
  margin-top: 30px;
  margin-bottom: 80px; }
  .booking-nav h3 {
    opacity: .5; }
    .booking-nav h3:hover {
      opacity: .75; }
    .booking-nav h3.is-active {
      opacity: 1; }

.booking-choices .icon {
  margin-bottom: 30px; }

.booking-choices .grid-y {
  height: 100%; }

.booking-choices .inputs h4 {
  margin-top: 30px; }

.booking-choices .inputs input {
  margin-top: 10px;
  border: 1px solid #aaa; }
  .booking-choices .inputs input:hover {
    border: 1px solid #000; }
  .booking-choices .inputs input:focus {
    border: 1px solid #000; }

.booking-choices .item {
  padding: 30px;
  max-width: 300px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  transition: all .3s ease-out; }
  .booking-choices .item h3.bold {
    margin-bottom: 0px; }
  .booking-choices .item h3 {
    margin-bottom: 20px; }
  .booking-choices .item:hover {
    border: 1px solid #666; }
  .booking-choices .item .icon.white {
    display: none; }
  .booking-choices .item .icon.black {
    display: inline-block; }
  .booking-choices .item.is-active {
    padding: 20px;
    background: #464447;
    border: 1px solid #ecece4;
    box-shadow: 0px 0px 0px 10px #464447;
    margin-top: 10px; }
    .booking-choices .item.is-active h3 {
      color: #ecece4; }
    .booking-choices .item.is-active p, .booking-choices .item.is-active a, .booking-choices .item.is-active .button, .booking-choices .item.is-active
    input[type="submit"], .booking-choices .item.is-active .link, .booking-choices .item.is-active input[type="text"]:-ms-input-placeholder, .booking-choices .item.is-active textarea, .booking-choices .item.is-active label.radio, .booking-choices .item.is-active ul, .booking-choices .item.is-active #calendar .fc-day-number, #calendar .booking-choices .item.is-active .fc-day-number, .booking-choices .item.is-active
    #day .fc-day-number,
    #day .booking-choices .item.is-active .fc-day-number, .booking-choices .item.is-active #calendar .fc-title, #calendar .booking-choices .item.is-active .fc-title, .booking-choices .item.is-active
    #day .fc-title,
    #day .booking-choices .item.is-active .fc-title, .booking-choices .item.is-active #day .fc-list-item-time, #day .booking-choices .item.is-active .fc-list-item-time {
      color: #ecece4; }
    .booking-choices .item.is-active p, .booking-choices .item.is-active a, .booking-choices .item.is-active .button, .booking-choices .item.is-active
    input[type="submit"], .booking-choices .item.is-active .link, .booking-choices .item.is-active input[type="text"]::placeholder, .booking-choices .item.is-active textarea, .booking-choices .item.is-active label.radio, .booking-choices .item.is-active ul, .booking-choices .item.is-active #calendar .fc-day-number, #calendar .booking-choices .item.is-active .fc-day-number, .booking-choices .item.is-active
    #day .fc-day-number,
    #day .booking-choices .item.is-active .fc-day-number, .booking-choices .item.is-active #calendar .fc-title, #calendar .booking-choices .item.is-active .fc-title, .booking-choices .item.is-active
    #day .fc-title,
    #day .booking-choices .item.is-active .fc-title, .booking-choices .item.is-active #day .fc-list-item-time, #day .booking-choices .item.is-active .fc-list-item-time {
      color: #ecece4; }
    .booking-choices .item.is-active h3.bold {
      margin-bottom: 30px; }
    .booking-choices .item.is-active .icon.white {
      display: inline-block; }
    .booking-choices .item.is-active .icon.black {
      display: none; }

.booking-choices.add-ons .item.is-active {
  margin-top: 0px;
  padding: 30px;
  box-shadow: none; }

#calendar h2,
#day h2 {
  font-size: 1.2rem;
  font-weight: 400; }

#calendar th,
#calendar td,
#calendar thead,
#calendar tbody,
#calendar .fc-divider,
#calendar .fc-row,
#calendar .fc-content,
#calendar .fc-popover,
#calendar .fc-list-view,
#calendar .fc-list-heading td,
#day th,
#day td,
#day thead,
#day tbody,
#day .fc-divider,
#day .fc-row,
#day .fc-content,
#day .fc-popover,
#day .fc-list-view,
#day .fc-list-heading td {
  border-color: #000; }

#calendar .fc-event-container,
#day .fc-event-container {
  background: #b59b8f; }

#calendar .fc-event,
#day .fc-event {
  background: #b59b8f;
  border: none; }

#calendar .fc-button,
#day .fc-button {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  height: auto; }

#calendar .fc-bgevent,
#day .fc-bgevent {
  opacity: 1;
  background: #ecece4; }

#calendar .fc-content-skeleton thead,
#day .fc-content-skeleton thead {
  height: 0px; }

#calendar .fc-title,
#day .fc-title {
  display: none;
  text-transform: none;
  color: #fff; }

#calendar .fc-today,
#day .fc-today {
  background: #fff; }

.booking-submission {
  margin-top: 80px; }
  .booking-submission p.light-grey, .booking-submission a.light-grey, .booking-submission .light-grey.button, .booking-submission
  input.light-grey[type="submit"], .booking-submission .light-grey.link, .booking-submission input.light-grey[type="text"]:-ms-input-placeholder, .booking-submission textarea.light-grey, .booking-submission label.light-grey.radio, .booking-submission ul.light-grey, .booking-submission #calendar .light-grey.fc-day-number, #calendar .booking-submission .light-grey.fc-day-number, .booking-submission
  #day .light-grey.fc-day-number,
  #day .booking-submission .light-grey.fc-day-number, .booking-submission #calendar .light-grey.fc-title, #calendar .booking-submission .light-grey.fc-title, .booking-submission
  #day .light-grey.fc-title,
  #day .booking-submission .light-grey.fc-title, .booking-submission #day .light-grey.fc-list-item-time, #day .booking-submission .light-grey.fc-list-item-time {
    margin-top: 20px;
    color: #999; }
  .booking-submission p.light-grey, .booking-submission a.light-grey, .booking-submission .light-grey.button, .booking-submission
  input.light-grey[type="submit"], .booking-submission .light-grey.link, .booking-submission input.light-grey[type="text"]::placeholder, .booking-submission textarea.light-grey, .booking-submission label.light-grey.radio, .booking-submission ul.light-grey, .booking-submission #calendar .light-grey.fc-day-number, #calendar .booking-submission .light-grey.fc-day-number, .booking-submission
  #day .light-grey.fc-day-number,
  #day .booking-submission .light-grey.fc-day-number, .booking-submission #calendar .light-grey.fc-title, #calendar .booking-submission .light-grey.fc-title, .booking-submission
  #day .light-grey.fc-title,
  #day .booking-submission .light-grey.fc-title, .booking-submission #day .light-grey.fc-list-item-time, #day .booking-submission .light-grey.fc-list-item-time {
    margin-top: 20px;
    color: #999; }
  .booking-submission .button.light-grey {
    background: #f2f2f2;
    color: #464447;
    font-weight: 700; }

#day th,
#day td,
#day thead,
#day tbody,
#day .fc-divider,
#day .fc-row,
#day .fc-content,
#day .fc-popover,
#day .fc-list-view,
#day .fc-list-heading td {
  border-color: #B3B3B3; }

#day .fc-list-item-time {
  text-align: center;
  background: #b59b8f;
  color: #fff;
  font-weight: 700; }

#day .fc-list-item-title {
  display: none; }

#day .fc-list-heading {
  display: none; }

#day .fc-list-item-marker {
  display: none; }

/*# sourceMappingURL=style.css.map */
