{% extends "_layout" %}
{% set header = 'white' %}
{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<section class="booking-container">
	
	<div class="grid-container">
		<div class="booking-header">
			<div class="grid-x">
				
				<div class="small-12 cell">
					<h1 class="text-center">Select your Add-ons</h1>
				</div>
				
				<div class="small-12 cell booking-nav">
					<div class="grid-x grid-margin-x align-center">
						<div class="shrink cell">
							<a href="booking">
								<h3>Package</h3>
							</a>
						</div>
						<div class="shrink cell">
							<h3>/</h3>
						</div>
						<div class="shrink cell">
							<a href="booking-two">
								<h3>Date & Time</h3>
							</a>
						</div>
						<div class="shrink cell">
							<h3>/</h3>
						</div>
						<div class="shrink cell">
							<a href="booking-three">
								<h3 class="is-active">Add-Ons</h3>
							</a>
						</div>
					</div>
				</div>
				
			</div><!-- grid-x -->
		</div><!-- booking-header -->
	</div><!-- grid-container -->
	
	<div class="grid-container">
		<div class="booking-choices add-ons">
			<div class="grid-x grid-margin-x align-center align-top text-center">
				
				<div class="small-12 medium-6 large-3 is-active item cell">
					<h3 class="book">Catering</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="small-12 medium-6 large-3 item cell">
					<h3 class="book">Facilitator</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="small-12 medium-6 large-3 item cell">
					<h3 class="book">Setup</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="small-12 medium-6 large-3 item cell">
					<h3 class="book">Technical</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="grid-container">
		<div class="booking-submission">
			<div class="grid-x align-center">
				
				<div class="shrink cell text-center">
					<p class="uppercase">Next</p>
					<a href="{{ siteUrl }}booking-two" class="button light-grey">Reserve Date & Time</a>
					<p class="light-grey text-left">Proceed to Checkout</p>
				</div>
				
			</div>
		</div>
	</div>
	
</section>

{% endblock %}