{% extends "_layout" %}
{% set header = 'white' %}
{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<section class="booking-container">
	
	<div class="grid-container">
		<div class="booking-header">
			<div class="grid-x">
				
				<div class="small-12 cell">
					<h1 class="text-center">Reserve Your Date & Time</h1>
				</div>
				
				<div class="small-12 cell booking-nav">
					<div class="grid-x grid-margin-x align-center">
						<div class="shrink cell">
							<a href="booking">
								<h3>Package</h3>
							</a>
						</div>
						<div class="shrink cell">
							<h3>/</h3>
						</div>
						<div class="shrink cell">
							<a href="booking-two">
								<h3 class="is-active">Date & Time</h3>
							</a>
						</div>
						<div class="shrink cell">
							<h3>/</h3>
						</div>
						<div class="shrink cell">
							<a href="booking-three">
								<h3>Add-Ons</h3>
							</a>
						</div>
					</div>
				</div>
				
			</div><!-- grid-x -->
		</div><!-- booking-header -->
	</div><!-- grid-container -->
	
	<div class="grid-container">
		<div class="booking-choices">
			<div class="grid-x grid-margin-x align-center align-top">
				
				<div class="small-12 medium-7 cell">
					<div id="calendar"></div>
				</div>
				<div class="small-12 medium-3 cell inputs">
					<div id="day"></div>
					<h4>Choose your time</h4>
					<input type="text" placeholder="Date" />
					<input type="text" placeholder="Start Time" />
				</div>
				
			</div>
			<div class="grid-x">
				<div class="small-12 medium-offset-1 medium-7 cell">
				</div>
			</div>
		</div>
	</div>
	
	<div class="grid-container">
		<div class="booking-submission">
			<div class="grid-x align-center">
				
				<div class="shrink cell text-center">
					<p class="uppercase">Next</p>
					<a href="{{ siteUrl }}booking-three" class="button light-grey">Select Add-Ons</a>
					<p class="light-grey text-left">Rules for booking</p>
				</div>
				
			</div>
		</div>
	</div>
	
</section>

{% endblock %}