{% extends "_layout" %}
{% block content %}

<div class="banner" style="background-image: url('assets/images/homepage-banner.jpg'); background-position: center top; background-size: cover;">
	<div class="grid-container">
		<div class="banner-content">
			<div class="grid-x align-left align-bottom">
				<h1 class="white">A Place to Meet</h1>
				<p class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam</p>
			</div>
		</div>
	</div>
</div>

<section class="off-white homepage-options">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="small-12 cell headline">
				<h3 class="text-center">Additional options we offer</h3>
			</div>
			<div class="small-12 cell">
				
				<div class="grid-x grid-margin-x grid-padding-x align-center small-up-1 medium-up-2 large-up-4">
					<div class="cell">
						<div class="item text-center">
							<img src="assets/icons/catering.svg" />
							<h2 class="lowercase black">Catering</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
						</div>
					</div>
					<div class="cell">
						<div class="item text-center">
							<img src="assets/icons/catering.svg" />
							<h2 class="lowercase black">Catering</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
						</div>
					</div>
					<div class="cell">
						<div class="item text-center">
							<img src="assets/icons/catering.svg" />
							<h2 class="lowercase black">Catering</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
						</div>
					</div>
					<div class="cell">
						<div class="item text-center">
							<img src="assets/icons/catering.svg" />
							<h2 class="lowercase black">Catering</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</section>

<section class="homepage-info">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-justify align-stretch">
			
			<div class="small-12 medium-6 large-5 small-order-2 medium-order-1 cell">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>This talks about who offsite is for and the people that can take advantage of it. Talk about the different renting models you have - daily, hourly, recurring. Show them how this space could suit their needs and what it is used for.</p>
			</div>
			<div class="small-12 medium-6 large-5 small-order-1 medium-order-2 cell bg-image" style="background-image: url('assets/images/homepage-one.png')"></div>
			
		</div>
	</div>
</section>

<section class="homepage-info">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-justify align-stretch">
			
			
			<div class="small-12 medium-6 large-5 cell bg-image" style="background-image: url('assets/images/homepage-two.png')"></div>
			<div class="small-12 medium-6 large-5 cell">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>This is a space to talk about the location. How many people it can hold and what kind of square footage offsite has. Talk about the amenities you offer and the services. Talk about the surrounding area and how it overlooks OKC. Generally just giving people an idea of what the space is like and if it could suit their needs.</p>
			</div>
			
		</div>
	</div>
</section>

<section class="homepage-map">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="small-12 cell text-center">
				<h1>The heart of OKC</h1>
				<img src="assets/icons/map.svg" />
			</div>
			
		</div>
	</div>
</section>

<section class="homepage-whats-included beige">
	<div class="grid-container">
		<div class="grid-x align-center">
			
			<div class="small-12 medium-8 large-7 cell text-center">
				<h1>See what offsite has to offer</h1>
				<p>Keep exploring to see what comes included when you book with offsite.</p>
				<a class="link">What's Included</a>
			</div>
			
		</div>
	</div>
</section>

{% endblock %}