{% extends "_layout" %}
{% block content %}

<section class="banner inner" style="background-image: url('assets/images/whats-included-banner.jpg');">
	<div class="grid-container">
		<div class="banner-content">
			
			<h1 class="white">What's Included</h1>
			<p class="white">Lorem ipsum dolor sit amet consecteteur adipising elit, sed diam nonummy nibh euimod tincidunt.</p>
			
		</div>
	</div>
</section>

<section class="whats-included-features">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="small-12 medium-8 cell header">
				<h2 class="book">Lorem ipsum dolor sit amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
			</div>
			<div class="small-12 cell items">
				<div class="grid-x grid-margin-x">
					
					<div class="small-12 medium-shrink cell item">
						<h3>Presentation Equipment</h3>
						<ul>
							<li>Whiteboard and markers</li>
							<li>Flip chart</li>
							<li>Presentation monitor</li>
							<li>Lorem ipsum dolor</li>
							<li>Nibh euismod</li>
						</ul>
					</div>
					<div class="small-12 medium-shrink cell item">
						<h3>Lorem ipsum dolor</h3>
						<ul>
							<li>Parking</li>
							<li>A location in the heart of OKC</li>
							<li>Three options of custom layouts</li>
							<li>Free wifi</li>
						</ul>
					</div>
					<div class="small-12 medium-shrink cell item">
						<h3>Office Supplies</h3>
						<ul>
							<li>Notepads and pens</li>
							<li>Lorem ipsum dolor</li>
							<li>Water</li>
							<li>Sed diam nonummy</li>
						</ul>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="whats-included-questions off-white">
	<div class="grid-container">
		<div class="grid-x align-center">
			
			<div class="small-12 medium-shrink cell text-center">
				<h2>Anymore questions about<br>what offsite offers?</h2>
				<p>Reach out to us to find out more</p>
				<a class="link">Contact Us</a>
			</div>
			
		</div>
	</div>
</section>

{% endblock %}